* {
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
}

#app {
    width: 1200px;
    margin: 10px auto;
    border: 1px solid #AAA;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #DDD,
    -1px 1px 1px 1px #DDD;
    text-align: center;
}

#restaurant-title {
    font-size: 3.2rem;
    margin: 20px;
}

#add-customer, #pause {
    width: 100px;
    padding: 6px 12px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
}

#restaurant-wrapper {
    width: 1100px;
    height: 450px;
    margin: 20px auto;
    border: 1px solid #DDD;
    border-radius: 2px 2px 5px 5px;
    position: relative;
    padding: 10px;
}

#cook-wrapper, #customer-wrapper {
    width: 300px;
    height: 200px;
    border: 1px solid #DDD;
    border-radius: 5px;
    display: flex;
}

#customer-wrapper {
    position: absolute;
    top: 225px;
    right: 10px;
}

#cook-status-wrapper, #customer-status-wrapper {
    width: 200px;
}

#cook-list-wrapper {
    width: 100px;
    border-right: 1px solid #DDD;
    overflow: auto;
}

#customer-list-wrapper {
    width: 100px;
    border-left: 1px solid #DDD;
    overflow: auto;
}

#waiter-wrapper {
    width: 200px;
    border: 1px solid #DDD;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 320px;
    height: 200px;
    transition: 0.5s all ease;
}

#customer-list {
    width: 1100px;
    min-height: 120px;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

#app .customer {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: center url('../asserts/customer.png') no-repeat;
    background-size: 100%;
}

#customer-dash-list {
    list-style: none inside;
    padding: 0;
}

#cook-list {
    list-style: none inside;
    padding: 0;
}

p {
    margin: 16px 0;
    font-size: 1.6rem;
}

img {
    height: 100px;
}