hr {
    height: 2px;
    border: none;
    border-top: 2px solid #78ac5f;
}

body {
    background-color: #f1b5eb;
}

h6 {
    font-size: 14px;
    padding: 0;
    margin: 0 20px;
    font-weight: normal;
}

/* email样式 */
.wrapper {
    margin: 20px;
    width: 300px;
}

#email-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
    padding-left: 10px;
}

.email-sug {
    box-sizing: border-box;
    display: none;
    width: 100%;
    overflow: hidden;
    border: 1px solid #000;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 0;
}

.email-sug li {
    line-height: 30px;
    height: 35px;
    font-size: 18px;
    box-sizing: border-box;
    display: block;
    padding-left: 10px;
    width: 100%;
}

.email-sug li:hover {
    background-color: #ffc0cb;
}

.selected {
    background-color: #add8e6;
}