hr {
    height: 2px;
    border: none;
    border-top: 2px solid #78ac5f;
}

body {
    background-color: #f1b5eb;
}

h6 {
    font-size: 14px;
    padding: 0;
    margin: 0 20px;
    font-weight: normal;
}

div > label {
    text-align: left;
    display: inline-block;
    width: 85px;
}

.container table {
    border: 0 solid #000;
    border-width: 0 1px 1px 0;
    border-spacing: 0;
}

.container th, .container td {
    border: 0 solid #000;
    border-width: 1px 0 0 1px;
    padding: 5px 10px;
    text-align: center;
}